<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OsmMapViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OsmMapViewer.Properties.Settings>
            <setting name="KitSelections" serializeAs="String">
                <value />
            </setting>
            <setting name="Layers" serializeAs="String">
                <value />
            </setting>
            <setting name="login_osm" serializeAs="String">
                <value>mchs_lpr</value>
            </setting>
            <setting name="pwd_osm" serializeAs="String">
                <value>lbgfgths</value>
            </setting>
            <setting name="GET_DATA" serializeAs="String">
                <value>http://10.113.0.183/api/get_data.php</value>
            </setting>
            <setting name="NOMINATIM_HOST" serializeAs="String">
                <value>http://10.113.0.183/nominatim/</value>
            </setting>
            <setting name="NOMINATIM_SEARCH" serializeAs="String">
                <value>search.php</value>
            </setting>
            <setting name="NOMINATIM_LOOKUP" serializeAs="String">
                <value>lookup.php</value>
            </setting>
            <setting name="API_OSM" serializeAs="String">
                <value>https://api.openstreetmap.org/</value>
            </setting>
            <setting name="BingKey" serializeAs="String">
                <value>TQJlJkdqn8eblIn2ndan~z1_5jmraoFpBYePLV-eYSg~Ah9W-VI_DJOOzIzE5sXX2KD6cnS4vIa2yWFj_J1KE2z_y910L2KjRV54D2SZsmM8</value>
            </setting>
            <setting name="TILE_SERVER_TEMPLATE" serializeAs="String">
                <value>http://10.113.0.183/hot/{tileLevel}/{tileX}/{tileY}.png</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Win10Light</value>
            </setting>
        </OsmMapViewer.Properties.Settings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>Win10Light</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>